h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    padding: 1rem;
}

p {
    margin: 0;
}

.container-fluid {
    padding: 1.5rem;
}

/* Header */

.header {
    background-image: url("../images/clothingRack.jpg");
    background-repeat: repeat;
    padding: 37rem 5rem 5rem;
    position: relative;
}

.header-content {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}

/* Navbar */
.navbar-brand {
    font-weight: 500;
    font-size: 2.5rem;
    padding-left: 2rem;
}

.navbar-nav {
    font-size: 1.3rem;
    padding-right: 1.5rem;
}

.nav-item {
    margin-right: 1rem;
}

/* Sections */
.sections {
    text-align: center;
    padding: 3rem 3rem;
}

.trending-section {
    padding: 5.5rem 0;
}

.coloured-section {
    background-color: rgb(212, 210, 204);
}

/* Trending Products */
.products-box {
    padding: 0.4rem;
}

.products-img {
    border-radius: 10%;
    height: 20rem;
    max-width: 30rem;
    margin: 2rem 0 1.5rem;
}

.products-title {
    font-size: 1.8rem;
}

.cart-button {
    margin: 1rem 0 0;
}


/* Carousel */
.carousel-inner {
    padding: 0 16rem;
}

.carousel-inner img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* Press */
.press-logo {
    margin: 0 20px 50px;
    width: 12%;
}

/* Contact */
.form-group {
    margin: 1rem 0;
}

#contact .container-fluid {
    padding: 7.4rem 0;
}

#contact img {
    border-radius: 5%;
    height: 550px;
    margin-right: 40px;
    width: 26%;
}

.contact-title {
    padding-bottom: 1rem;
}

.latest-outfits{
    padding: 0 0 0 5rem;
}

.business-inquiries {
    padding: 9rem 3rem 0 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.7rem 0;
}

.footer-logos {
    font-size: 1.4rem;
    padding: 0 0.5rem 1rem;
}